@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 150px;
}
.bottom-bg-desk,
.bottom-bg-mob {
  position: absolute;
  bottom: 0;
  right: 0;
}
.top-bg-desk,
.top-bg-mob {
  position: absolute;
  top: 0;
  left: 0;
}
.section-one {
  display: flex;
  justify-content: space-between;
}
h1 {
  color: hsl(300, 43%, 22%);
  font-size: 46px;
  font-weight: 700;
  line-height: 46px;
  margin-top: 0;
}
.top-desc {
  width: 40%;
}
.top-desc p {
  color: hsl(303, 10%, 53%);
  line-height: 26px;
  font-weight: 500;
}
h5 {
  color: hsl(300, 43%, 22%);
  font-size: 18px;
  margin: 0;
}
.all-ratings {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.rating {
  display: flex;
  width: 80%;
  height: 60px;
  background-color: #F7F2F8;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}
.review-body {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.review-rating{
  align-self: flex-start;
}
.report-rating{
  align-self: center;
}
.best-rating{
  align-self: flex-end;
}
.top-bg-mob,
.bottom-bg-mob {
  display: none;
}
.section-two {
  margin-top: 50px;
}
.card {
  background-color: hsl(300, 43%, 22%);
  width: 30%;
  padding: 30px 0;
  border-radius: 10px;
  height: 176px;
}
.card-one {
  align-self: flex-start;
}
.card-two {
  align-self: center;
}
.card-three {
  align-self: flex-end;
}
.card-holder {
  height: 290px;
  display: flex;
  justify-content: space-between;
}
.card-content {
  color: white;
  width: 85%;
  margin: 0 auto;
}
.card-desc {
  display: flex;
  justify-content: flex-start;
}
.card-desc img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 25px;
}
.name-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.name-desc h4 {
  font-weight: 700;
  margin: 0;
}
.desc-title {
  color: hsl(333, 80%, 67%);
  margin: 0;
  font-weight: 500;
}
.content-text p {
  font-weight: 500;
  margin: 0;
  margin-top: 30px;
  line-height: 24px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .bottom-bg-desk,
  .top-bg-desk {
    display: none;
  }
  .top-bg-mob,
  .bottom-bg-mob {
    display: block;
  }
  .container {
    width: 90%;
    margin-top: 50px;
  }
  .section-one {
    flex-direction: column;
  }
  .top-desc {
    width: 85%;
    text-align: center;
    margin: 0 auto;
  }
  h1 {
    font-size: 28px;
    line-height: 28px;
    width: 80%;
    margin: 0 auto;
  }
  h5 {
    font-size: 16px;
  }
  .all-ratings {
    width: 100%;
    margin-top: 50px;
  }
  .rating {
    width: 100%;
    height: 80px;
  }
  .review-body {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
  .review-rating{
    align-self: center;
  }
  .best-rating{
    align-self: center;
  }
  .section-two {
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .card {
    width: 100%;
  }
  .card-one {
    align-self: center;
    margin-bottom: 20px;
  }
  .card-three {
    align-self: center;
    margin-top: 20px;
  }
  .card-holder {
    height: auto;
    flex-direction: column;
  }
}